#
# pkt_comm
#
#AREA_GROUP "pkt_comm" RANGE=SLICE_X104Y80:SLICE_X115Y95; # 768 LUTs
AREA_GROUP "pkt_comm" RANGE=SLICE_X100Y80:SLICE_X109Y95;
#AREA_GROUP "pkt_comm" RANGE=SLICE_XY80:SLICE_X109Y95; 
INST "pkt_comm/inpkt_header/*" AREA_GROUP = "pkt_comm";
INST "pkt_comm/word_list/*" AREA_GROUP = "pkt_comm";
INST "pkt_comm/outpkt/*" AREA_GROUP = "pkt_comm";

INST "pkt_comm/extra_reg_empty*" AREA_GROUP = "pkt_comm";
#
#
#
AREA_GROUP "io2" RANGE=SLICE_X84Y80:SLICE_X97Y99;
INST "input_fifo/fifo_bram_8x1024_fwft/*" AREA_GROUP = "io2";
INST "output_fifo/fifo_dram_async_16/*" AREA_GROUP = "io2";
INST "pkt_comm/fifo_dram_async_120/*" AREA_GROUP = "io2";
